
[submodule "Appointments-microservice"]
	path = Appointments-microservice
	url = https://github.com/StlMaris123/Appointments-microservice.git


[submodule "Payments-Microservice"]
	path = Payments-Microservice
	url = https://github.com/StlMaris123/Payments-Microservice.git

[submodule "Be-Free-User-management"]
	path = Be-Free-User-management
	url = https://github.com/StlMaris123/Be-Free-User-management.git


